@model halloween.Model.Greetings



    <div class="form-header">This is what they shall see...</div>
    <div class="form-body">
        @*<div class="has-error">bridgeGreetings.Message</div>"*@
            <div class="form-group">
                <label asp-for="@Model.toName"></label>
                    @Html.Raw(Model.toName)             
            </div>

            <div class="form-group">
                <label asp-for="@Model.toEmail"></label>
                    @Html.Raw(Model.toEmail) 
            </div>      
       
            <div class="form-group">
                    <label asp-for="@Model.subject"></label>        
                        @Html.Raw(Model.subject)           
                </div>

            <div class="form-group">
                    <label asp-for="@Model.mesg" ></label>
                        @Html.Raw(Model.mesg)
                </div>
          
            <div class="form-group">
                    <label asp-for="@Model.fromName" ></label>
                        @Html.Raw(Model.fromName)
                </div>

            <div class="form-group">
                    <label asp-for="@Model.fromEmail" >Email:</label>                
                        @Html.Raw(Model.fromEmail)
                </div>
         
        </div>

<form method="post">
    <div class="button">
        <input type="hidden" asp-for="@Model.ID" />
        <input type="submit" value="Deliver" class="submitbutton" />
         <a href="/"></a>
    </div>
</form> 



